services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared-tunnel
    restart: unless-stopped

    command: >
      tunnel --no-autoupdate run
      --token ${CLOUDFLARE_TUNNEL_TOKEN}

    networks:
      - default
      
networks:
  default:
    external: true
    name: n8n-stack-network